{% load static %}
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image2.jpg' %}" alt="image">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image3.jpg' %}" alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image4.jpg' %}" alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image5.jpg' %}" alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image6.jpg' %} " alt="">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image7.jpg' %} " alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image8.jpg' %} " alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>
<div class="col-md-3">
    <div class="single-post">
        <img src=" {% static 'img/post-image9.jpg' %}" alt="img">
        <h3><a href="#">Post Title Goes Here.</a></h3>
        <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
        </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut.
            labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <h4><span>25 February 2017</span></h4>
    </div>
</div>